.signup-card {
    max-width: 544px;
}

.form-buttons {
    display: flex;
    justify-content: space-evenly;
}

.cus_wid_hgt_banner {
    height: 55%;
    width: 70%;
}

.pad_internally {
    padding: 3%;
    width: -webkit-fill-available;
}