.container {
    margin: 0 auto;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-form-card {
    padding: 2%;
}

.mat-form-field {
    width: 100%;
    margin-bottom: 16px;
}